<h1 class="remission">REMISIÓN <%= @remission.id %>: <%= link_to "#{@remission.store.name}", @remission.store %></h1>
<h3 class="remission"><%=@remission.created_at.strftime("%H-%I-%G")%></h3>
<hr>
<h2><%= "#{@remission.price_modifier}% de Descuento" %></h2>
<% edit_link = '' %>
<% unless @units.where(sold: true).any? %>
  <h3><% edit_link = (link_to '<i class="glyphicon glyphicon-edit">Editar</i>'.html_safe, edit_remission_path(@remission)) + ' | ' %></h3>
<% end %>
<h3><%= ((edit_link) +
(link_to '<i class="glyphicon glyphicon-download">Descargar</i>'.html_safe,
download_remission_path(@remission, format: :xlsx)) + ' | ' +
(link_to '<i class="glyphicon glyphicon-ok">Finalizar</i>'.html_safe,
end_remission_path(@remission), method: :post)).html_safe
%></h3>

<%= form_tag sold_remission_path(@remission), method: :put do %>
  <table id="remission-show" class="table table-striped table-bordered center-table" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="center-table"><span class="glyphicon glyphicon-repeat"></th>
        <th class="center-table"><span class="glyphicon glyphicon-usd"></th>
        <th class="center-table">Preció de Venta</th>
        <th class="center-table">Codigo</th>
        <th class="center-table">Producto</th>
        <th class="center-table">Categoria</th>
        <th class="center-table">Estampado: color</th>
        <th class="center-table">Tela</th>
      </tr>
    </thead>
    <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.sold ? '' : (check_box_tag "return_ids[]", unit.id) %></td>
        <td><%= check_box_tag "unit_ids[]", unit.id, unit.sold%></td>
        <td><%= unit.sold_price_or_na %></td>
        <td><%= unit.product_code %></td>
        <td><%= unit.category.product.name %></td>
        <td><%= unit.category.name %></td>
        <td><%= unit.pattern_color_tables %></td>
        <td><%= unit.fabric_table%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= submit_tag "Actualizar", class: 'btn btn-primary' %>
<% end %>
<% if @devolutions.any? %>
  <%= render 'devolutions_table' %>
<% end %>
