<h1>Todos tus Productos</h1>
<hr>

<table id="products" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Producto</th>
      <th>Categoria</th>
      <th>Estampado: color</th>
      <th>Tela</th>
      <th>¿Vendido?</th>
      <th>Ubicación</th>
    </tr>
  </thead>
  <tbody>
  <% @units.each do |unit| %>
    <tr>
      <td><%= unit.product_code %></td>
      <td><%= unit.category.product.name %></td>
      <td><%= unit.category.name %></td>
      <td><%= unit.pattern.name %>: <%= unit.color.real_color %></td>
      <td><%= unit.fabric.material %> <%= unit.fabric.color.capitalize %></td>
      <td><%= unit.sold_yes_or_no %><%= unit.sold_price %></td>
      <td><%= unit.where_is_it %></td>
    </tr>
  <% end %>
  </tbody>
</table>
