<% provide(:title, 'Producto Nuevo') %>
<h1>Regístrate:</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@product) do |f| %>
      <%= render 'shared/error_messages_products' %>

      <%= f.label :name, "Nombre:" %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= link_to_add_fields "+ Agregar Categoria", f, :categories %>

      <%= f.submit "Agregar Producto", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
